<%- include('partials/header') %>

  <div class="jumbotron text-center ">
    <div class="container mt-5 ">
      <i class="fas fa-key fa-6x mb-5"></i>
      <h1 class="display-3 mb-5">You've Discovered My Secret!</h1>
      <p class="secret-text mb-5">
        Secret : <%= locals.secret %>
      </p>
      <hr>

      <div class="mb-5">
        <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
      </div>
      <div>
        <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      </div>
    </div>
  </div>

  <%- include('partials/footer') %>